<p>
  Hello, <%= @user.email %>!
</p>
<p>
  Please activate your account by clicking on the link below:
</p>
<p>
  <%= link_to "Activate account!",
    "#{activate_users_url}?#{@user.activation_token}" %>
</p>
<p>
  Thanks!<br/>
  Music App Team
</p>
