<% content_for(:session) do %>
  <%= render 'shared/session_bar' %>
<% end %>

<h1>All Bands</h1>

<% @bands.includes(:albums).each do |band| %>
  <h3><%= link_to band.name, band_url(band) %></h3>
  <%= render band %>
<% end %>


<%= link_to "Add a band", new_band_url %>
